@import "tailwindcss";

@theme {
  --color-primary: #ea2a33;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211111;
  --font-display: "Be Vietnam Pro", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
