html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 1000px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  background-color: #e10b0b;
  padding: 10px;
}

.footer {
  background-color: #e10b0b;
  padding: 10px;
}
